header
  height: 40em
  background-color: $skyblue
  color: white
  padding-top: 2em

  nav
    margin-bottom: 8em
    
    h1
      display: inline-block

    a, a:hover
      color: white
      font-size: 2em
      margin-right: 1.5em

    #account-buttons
      float: right
      padding-top: 1.2em

      button
        font-size: 1.3em

      button:first-child
        margin-right: 1.6em
  
  .hero
    h1
      text-align: center
      font-size: 6.5em
      

    p
      font-size: 2.5em
      text-align: center
