#home
  .hero
    background-color: $skyblue
    color: white
    height: 30em
    padding-top: 5em

    h1
      margin: 0px
      text-align: center
      font-size: 6.5em
      
    p
      font-size: 2.5em
      text-align: center

  .container
    padding-top: 20em
    height: 50em
    text-align: center

    p
      font-size: 3em
      color: $grey

    button
      font-size: 2em