button, input[type="submit"]
  display: inline-block
  background: transparent
  border: 1px solid
  border-radius: 0.2857rem
  padding: 0.78571em 1.5em 0.78571em

  &.skyblue
    color: $skyblue
    border-color: $skyblue

  &.white
    color: white
    border-color: white